<div class="album" data-name="{{albumName}}" data-artist="{{artistName}}" data-rating="{{albumRating}}">
    <div class="album-contents">
        <div class="album-image-container">
            <img src="{{photoURL}}" alt="coverart">
        </div>
        <div class="album-info-container">
            <a href="#" class="album-title">{{albumName}}</a>
            <span class="album-rating">{{albumRating}}/5</span>
            <span class="album-artist">{{artistName}}</span>
        </div>
        <button type="button" class="add-to-list-button"><i class="fas fa-plus"></i></button>
    </div>
</div>